.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-switch);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .icon{
    height: 26px;
    width: 26px;
    -webkit-transition: .4s;
    transition: .4s;
    position: absolute;
    left: 4px;
    bottom: 2px;
    z-index: 1;
    &.right{
        right: 2px;
        left: unset;
    }
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--input-switch-before, #fff);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
  }
  
  input:checked + .slider {
    background-color: var(--input-switch-checked);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--input-switch-checked);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }