.card {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: center;
	margin-top: 24px;
}

.time {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
